.header_container{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
}
.header_icons{
    display:flex;
    flex-direction:row;
    gap:10px;
    align-items: center;
    color:white;
}
.header_icon{
    width:30px !important;
    height: 30px !important;
}
.header_logo{
    height:30px;
}