.menu_container{
    margin-top:100px;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    z-index: 10;
}
.menu_section{
    display: flex;
    flex-direction: row;
    bottom: 0;
    left:0;
    background-color: white;
    color:gray;
    height: 70px;
}
.menu_button{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:7px;
    align-items: center;
    text-align: center;
    padding:10px;
    text-decoration: none;
    color:gray;
}
.menu_icon{
    object-fit: contain;
    width:100%;
    height: 60%;
    opacity: 0.6;
    color:black;
}
.menu_button span{
    font-size: 10px;
    font-weight: bold;
}