.nav_section{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    gap: 10px;
}
.nav_content{
    cursor: pointer;
    text-decoration: none;
    color:white;
    padding-bottom: 10px;
}
.nav_content.active{
    border-bottom: 3px solid white;
}