.search_container{
    display: flex;
    background-color: white;
    border-radius: 5px;
    gap:10px;
    width:100%;
}
.search_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    gap:10px;
    padding:10px;
}
.search_section input{
    flex:1;
    border:none;
}
.search_icon{
    color:gray;
    width:20px;
    align-items: center;
    justify-content: center;
}